/* mediaqueries.css */
@media screen and (max-width: 1400px) {

    #genre {
        width: 90%;
        max-width: none; 
        display: flex;
        justify-content: center;
    }
    }

@media screen and (max-width: 1200px) {

    #home-section {
        background-size: cover;
        padding: 50px 0;
    }

    #genre {
        width: 90%;
        padding: 50px 0;
    }

    #about-content {
        padding: 50px; 
      }

    #hamburger-nav {
        text-align: right;
    }
    .menu-links {
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 600px) {

    #home-section {
        background-size: contain;
        padding: 0 0;
    }

    #genre {
        width: 100%;
        padding: 0 0;
    }

    #about-content {
        padding: 10px; 
      }

    .arrow {
        font-size: 1 rem;
    }

    #desktop-nav {
        display: none; 
    }

    #hamburger-nav {
        display: block; 
        text-align: right;
    }

    .menu-links {
        left: auto;
        right: 0;
    }
}
