/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(33, 37, 41);
    text-align: center;
    margin: 0;
    padding: 0;
}

:root {
  --spotify-green: #1DB954;
  --footer-height: 40px;
}

html {
    scroll-behavior: smooth;
}

/* desktop-nav */
#desktop-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 40 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

a {
    color: rgb(249, 199, 79);
    text-decoration: none;
    text-decoration-color: white;
    font-size: 1.5rem;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: white;
}

.logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo:hover {
  cursor: default;
}


/* Hamburger Menu */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(249, 199, 79);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(249, 199, 79);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/*home section*/
#home-section {
    background-image: url('./assets/bg.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0; 
    margin: 0;
    height: 80vh
}

/* section genre*/
#genre {
    margin: 50px auto;
    overflow: hidden;
    position: relative; 
    margin-bottom: 0;
}

.genre-container {
    display: flex;
    align-items: center;
}

.genre-slides {
    display: flex;
    transition: transform 0.5s;
}

.genre-slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.genre-slide img {
    width: 90%;
    height: 70%; 
    }

.arrow {
    cursor: pointer;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 5px;
    border: none;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#about-content {
    padding: 50px;
    text-align: center;
    color: rgb(249, 199, 79)
}

.about-image img {
    max-width: 100%;
    height: auto;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26vh;
  margin: 0 1rem;
}

.footer-nav {
  text-align: center;
  margin: 1rem 0;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  display: inline;
  margin: 0 10px;
}

.footer-nav a {
  text-decoration: none;
  color: rgb(249, 199, 79);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: white;
}
/*Pop HTML*/

.menu li {
  padding-left: 0 !important;
}

.playlists {
  font-weight: 400 !important;
}

.playlists ul li a span {
  left: 0px;
}



.current-song-cover img {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
}


.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--footer-height)) !important;
}


.right {
  width: 100%;
}


.arrow-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #434343;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-arrows  {
  display: flex;
  align-items: center;
}

.arrow-container {
  margin-right: 15px !important;
}

.playlist-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-header {
  padding: 20px;
}

.playlist-top-email {
  display: flex;
  align-items: center;
  background-color: #434343;
  border-radius: 20px;
  color:white;
}

.playlist-header .arrow-container {
  background-color: #535353;
  margin: 2px;
}

.playlist-top-email span {
  padding: 0 10px;
}


.playlist-header {
background: #4C495D;
background: linear-gradient(180deg, #D1D7E0 0%, #2D383E 100%);
}

.playlist-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
}

.playlist-cover img {
  width: 250px;
  height: 250px;
  box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
}

.playlist-info {
  color:white;
  padding-left: 20px;
}

.playlist-public {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Futura PT', sans-serif;
}

.playlist-title {
  font-size: 86px;
  font-weight: 700;

  margin-top: 10px;
  font-family: 'Futura PT', sans-serif;
}

.playlist-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  color:#B5B5B5;
}

.playlist-stats  img{
  position: relative;
  top: 6px;
}

.playlist-stats span:first-of-type {
  font-weight: 1000;
  font-family: 'Futura PT', sans-serif;
}

.playlist-stats  img{
  position: relative;
  top: 6px;
}

.playlist-stats span:first-of-type {
  font-weight: 1000;
  font-family: 'Futura PT', sans-serif;
}

.footer-player  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #181818;
  position: absolute;
  bottom:0;
  width: 100%;
  height: var(--footer-height);
}

.footer-player-left-like svg path {
  fill: var(--spotify-green);
}
.footer-player-left-like {
  padding-left: 30px;
}

.footer-player-left {
  display: flex;
  align-items: center;
}

.footer-player-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-player-middle-buttons img  {
  width: 15px;
  padding: 15px;
}

.footer-player-middle-buttons, .footer-player-middle-slider {
  display: flex;
  justify-content: center;
}

.playlist-songs-container {
  height: 800px;
  padding: 20px;
  background: rgb(95,95,95);
  background: linear-gradient(180deg, rgba(95,95,95,1) 0%, rgba(18,18,18,1) 22%, rgba(18,18,18,1) 100%);
}


.spotify-playlists {
  padding: 20px 40px;


}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 10px;
}
.spotify-playlists .list {
  display: flex;
  gap: 200px;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: #252525;
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}

.playlist-songs-container {
  height: 1000px;
  padding: 20px;
  background: rgb(95,95,95);
  background: linear-gradient(180deg, rgba(95,95,95,1) 0%, rgba(18,18,18,1) 22%, rgba(18,18,18,1) 100%);
}




/*Pop Artists HTML*/

#back-btn-nav {
  display: flex;
  position: fixed;
  padding-left: 3rem;
  padding-top: 1rem;
} 

.back-btn {
  height: 3rem;
  width: auto;
  border-radius: 1.5rem;
}

.back-btn:hover {
  cursor: pointer;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px white;
  transition: all 300ms ease;
}

/*Artist Info Section*/

#artist-info{
  display: flex;
  height: 90vh;
  background: rgb(225, 100, 95);
  font-family: 'Futura PT', sans-serif
}

.artist-info-container {
  display: flex;
}

.artist-profile-container{
  display: flex;
}

.artist-pic {
  height: 90vh;
}

.artist-name-container {
  position: absolute;
  bottom: 5rem;
  left: 3rem;
  font-size: 3.5rem;
  color: white;
  text-shadow: 0px 0px 40px rgb(255, 255, 255);
  text-align: left;
}

.artist-name {
  margin: 0;
}

.artist-details-container {
  padding: 3rem;
  text-align: left;
  color: white;
  line-height: 2rem;
}

.album-container {
  display: flex;
  margin-top: 3rem;
  gap: 1.5rem;
}

.album-details-container {
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45vh;
  width: 30vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.album-pic-container {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.album-pic {
  height: 10rem;
  border-radius: 20px;
}

.album-name-container {
  display: flex;
  justify-content: center;
}

.album-name {
  color: black;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}

.album-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;;
}

.btn {
  color: white;
  border: none;
  height: 2rem;
  width: 4.5rem;
  background: rgb(225, 100, 95);
  border-radius: 1rem;
}

.btn:hover {
  border-color: rgb(225, 100, 95);
  background: none;
  color: rgb(225, 100, 95);
  transition: all 300ms ease;
}


/*Song List Section*/

#songs-list-container {
  display: flex;
  color: white;
  margin-top: 1rem;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 110vh;
  font-family: 'Futura PT', sans-serif
}

.song-container {
  color: rgb(225, 100, 95);
  font-weight: bold;
  display: flex;
  gap: 11rem;
  margin-top: 1.5rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  width: 70rem;
}

.song-container:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 300ms ease;
}

.song-img-container,
.song-img {
  display: flex;
  gap: 1.5rem;
  height: 3.5rem;
  border-radius: 10px;
}

.song-img-container {
  width: 20rem;
}

.song-btn-container {
  display: flex;
  gap: 2rem;
}

.song-btn {
  display: flex;
  height: 2rem;
}

.song-btn:hover {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgb(225, 100, 95);
  transition: all 300ms ease;
}




